/* Imported About LESS */
#aboutus {
  font-size: 3rem;
}
h3 {
  display: flex;
  justify-content: center;
  font-family: "arial black";
  font-size: 1.1rem;
}
.missionsection {
  background-color: #e6fff2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid black;
}
@media (max-width: 500px) {
  .missionsection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.missionstatement {
  width: 20rem;
  height: 10rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: white;
  border: 1px solid black;
  padding-left: 2%;
  padding-right: 2%;
}
@media (max-width: 500px) {
  .missionstatement {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 700px) {
  .missionstatement {
    padding-bottom: 4%;
  }
}
h1 {
  font-family: "arial black";
}
.teamparagraph {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}
.teamheader {
  display: flex;
  justify-content: center;
  padding-top: 1%;
}
.lambda {
  text-decoration: none;
  color: black;
}
.teampic {
  height: 12rem;
  width: 12rem;
  box-shadow: 8px 8px 4px grey;
}
@media (max-width: 500px) {
  .teampic {
    box-shadow: none;
  }
}
@media (max-width: 700px) {
  .teampic {
    width: 7rem;
    height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
.teamflex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 3%;
}
@media (max-width: 500px) {
  .teamflex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 3%;
    margin-right: 3%;
  }
}
.person {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 500px) {
  .person {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    padding-top: 2%;
    padding-bottom: 2%;
  }
}
.personrole {
  width: 100%;
}
@media (max-width: 500px) {
  .personrole {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
  }
}
h4 {
  font-size: 1.5rem;
}
@media (max-width: 700px) {
  h4 {
    font-size: 1.2rem;
  }
}
@media (max-width: 500px) {
  h4 {
    font-size: 1.4rem;
  }
}
.font {
  font-size: 1.1rem;
}
@media (max-width: 700px) {
  .font {
    font-size: 0.9rem;
  }
}
@media (max-width: 500px) {
  .font {
    font-size: 1.2rem;
  }
}
/* Mobile Variable */
/*Tablet Variable */
/* Color Variable */
/* Start of Landing Page */
/* Header alignment */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}
@media (max-width: 500px) {
  .header {
    display: flex;
    flex-direction: column;
  }
}
/* Advice Giver logo size */
.adviceheader {
  height: 10rem;
  width: 10rem;
}
@media (max-width: 500px) {
  .adviceheader {
    height: 15rem;
    width: 15rem;
  }
}
.nav-item {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 60%;
}
@media (max-width: 500px) {
  .nav-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10%;
  }
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3%;
  }
}
/* Top Section */
.topsection {
  position: relative;
  text-align: center;
  color: white;
}
.topimage {
  height: 25rem;
  width: 100%;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}
/* Buttons for top section and footer */
button {
  border: 1px solid white;
  height: 2rem;
  width: 10rem;
  color: #33cccc;
  background-color: black;
  font-size: 14px;
}
/* 2nd Section */
#worksheader {
  padding-bottom: 3.5%;
}
.section2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 500px) {
  .section2 {
    display: flex;
    flex-direction: column;
  }
}
.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
}
#pad {
  padding-bottom: 5%;
}
@media (max-width: 500px) {
  #pad {
    padding-bottom: 0%;
  }
}
#pad2 {
  padding-bottom: 10%;
}
@media (max-width: 500px) {
  #pad2 {
    padding-bottom: 0%;
  }
}
/* Arrows in 2nd section */
i {
  border: solid black;
  border-width: 0rem 0.5rem 0.5rem 0rem;
  display: inline-block;
  padding: 0.3rem;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
@media (max-width: 500px) {
  .right {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
/* For 2nd, 3rd, and 4th section */
.sectionheader {
  font-size: 1.7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "arial black";
  padding-bottom: 2%;
}
.img {
  height: 6rem;
  width: 6rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  border-radius: 50%;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.whyuse {
  margin-left: 5%;
  margin-right: 5%;
}
/* Header for 3rd and 4th section */
.whyuseheader {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3%;
  width: 100%;
}
@media (max-width: 500px) {
  .whyuseheader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
/*  3rd section - Why Use Advice Giver */
.thirdsection {
  background-color: #e6fff2;
}
#border {
  border: 1px solid black;
  padding-bottom: 3%;
  margin-left: 3%;
  margin-right: 3%;
  background-color: white;
}
@media (max-width: 500px) {
  #border {
    margin-top: 3%;
    margin-bottom: 3%;
  }
}
/*  4th section - How Weve Helped */
#textborder {
  border: 1px solid black;
  padding: 10px;
  background-color: #fff2e6;
  width: 50%;
}
#circlepic {
  height: 8rem;
  width: auto;
}
/* Footer section */
footer {
  border-top: 1px solid black;
  background-color: #e6fff2;
}
.footerdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footerclass {
  font-size: 1.5rem;
}
