/* Container holding the image and the text */
.topsection {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}
.topimage {
  height: 20rem;
  width: 100%;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}
.nav-item1 {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.nav-item2 {
  text-decoration: none;
  color: white;
  margin: 20%;
}
.nav-item3 {
  text-decoration: none;
  color: white;
  margin: 20%;
}
.nav-item4 {
  text-decoration: none;
  color: white;
  margin: 20%;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box {
  flex: 1;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  background-color: lavender;
  padding: 1.5%;
  margin: auto;
  width: 50%;
}
.sectionheader {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
i {
  border: solid black;
  border-width: 0rem 0.5rem 0.5rem 0rem;
  display: inline-block;
  padding: 0.3rem;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.whyuseheader {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3%;
  width: 100%;
}
.img {
  height: 6rem;
  width: 6rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  border-radius: 50%;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thirdsection {
  background-color: #e6fff2;
}
.img #imgcircle {
  border-radius: 50%;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footerdiv {
  display: flex;
  flex-direction: column;
}
.adviceheader {
  height: 10rem;
  width: 10rem;
}
button {
  border: 1px solid white;
  height: 2rem;
  width: 10rem;
  color: #33cccc;
  background-color: black;
  font-size: 14px;
}
