
// Top Section 
#aboutus {
    font-size: 3rem;
}

// Second Section - Mission 

.missionsection {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

padding: 3rem;
background-color: @lightgreen;
}

.ourmission {
border: 1px solid black;
padding: 2rem;
background-color: white;
color: black;
}

.missionheader {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

// Third Section - Team 

.teamparagraph {
margin: 5%;
}
