
@import './Home/home.less';

@import './About/about.less';

@import './Contact/contact.less';

/* Container holding the image and the text */
.topsection {
	position: relative;
	text-align: center;
	color: white;
  }
  
  .centered {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2rem;
	}

	.centeredbutton {
		position: absolute;
		top: 65%;
		left: 50%;
		transform: translate(-50%, -50%);
		


		}

	.topimage {
		height: 20rem;
		width: 100%
	}


	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}

// Advice Giver Header 
	.nav-item1 {
		text-decoration: none;
		color: black;

		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}
// About tab 
	.nav-item2 {
		text-decoration: none;
		color: black;
		margin: 20%;
	}

// Contact tab 
	.nav-item3 {
		text-decoration: none;
		color: black;
		margin: 20%
	}

	.nav-item4 {
		text-decoration: none;
		color: black;
		margin: 20%
	}

	.navbar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	

.howdoesitworkheader {
	margin-top: 5%;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}