/* Imported About LESS */
@import "./about.less";

/* Mobile Variable */

@mobile: ~"(max-width: 500px)";

/*Tablet Variable */

@tablet: ~"(max-width: 700px)";

/* Color Variable */

@lightgreen: #e6fff2;

/* Start of Landing Page */
/* */
/* */

/* Header and NavBar */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;

  @media @mobile {
    display: flex;
    flex-direction: column;
  }
}

/* Advice Giver logo */
.adviceheader {
  height: 10rem;
  width: 10rem;

  @media @mobile {
    height: 15rem;
    width: 15rem;
  }
}

.nav-item {
  text-decoration: none;
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin: 60%;

  @media @mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10%;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media @mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3%;
  }
}

// Parallax Effect 




/* Top Section */

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px; }


.section {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}

.parallax::after {content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}



.bg2::after {
  background-image: url(https://media3.giphy.com/media/1lRrsraIsEYRW/giphy.gif)
}









/* Buttons for top section and footer */
button {
  border: 1px solid white;
  height: 2rem;
  width: 10rem;
  color: #33cccc;
  background-color: black;
  font-size: 14px;
}

/* 2nd Section */

#worksheader {
  padding-bottom: 3.5%;

}

.section2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  @media @mobile {
    display: flex;
    flex-direction: column;
  }
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
}

/* Arrows in 2nd section */

i {
  border: solid black;
  border-width: 0rem 0.5rem 0.5rem 0rem;
  display: inline-block;
  padding: 0.3rem;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

  @media @mobile {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

.arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* For 2nd, 3rd, and 4th section */

.sectionheader {
  font-size: 1.7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "arial black";
  padding-bottom: 2%;
 
  
}

.img {
  height: 6rem;
  width: 6rem;

  margin-bottom: 1.5rem;
  margin-top: 1.5rem;

  border-radius: 50%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.whyuse {
  margin-left: 5%;
  margin-right: 5%;
}

#border {
  border: 1px solid black;
  padding-bottom: 3%;
  margin-left: 3%;
  margin-right: 3%;
  background-color: white;

  @media @mobile {
    margin-top: 3%;
    margin-bottom: 3%;
  }
}

#pad {
  padding-bottom: 5%;

  @media @mobile {
    padding-bottom: 0%;
  }
}

#pad2 {
  padding-bottom: 10%;
  @media @mobile {
    padding-bottom: 0%;
  }
}

/* Header for 3rd and 4th section */

.whyuseheader {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3%;

  width: 100%;

  @media @mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

/*  3rd section - Why Use Advice Giver */

.thirdsection {
  background-color: @lightgreen;
}

/*  4th section - How Weve Helped */

#textborder {
  border: 1px solid black;
  padding: 10px;
  background-color: #fff2e6;
  width: 50%;
}

#circlepic {
  height: 8rem;
  width: auto;
}

/* Footer section */

footer {
  border-top: 1px solid black;
  background-color: @lightgreen;
}

.footerdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerclass {
  font-size: 1.5rem;
}
